{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons %}
{% from 'macros/user.html' import render_user_link %}
{% set current_page = 'bungalow_contest' %}
{% set page_title = 'Bungalow-Contest' %}

{% block body %}

  <h1>{{ page_title }}</h1>

  {%- if contest.phase != Phase.not_started %}
  <p><a href="{{ url_for('.contestants') }}">Kandidaten</a></p>
  {%- endif %}

  {%- if contest.phase == Phase.not_started %}

  <p>Der Wettbewerb hat <strong>noch nicht begonnen</strong>.</p>

  {%- elif contest.phase == Phase.registration %}

    {%- if not g.user.authenticated %}

  <p>Du musst <a href="{{ url_for('authentication_login.log_in_form') }}">angemeldet</a> und Verwalter/in eines Bungalows sein um diesen zum Wettbewerb anmelden zu können.</p>

    {%- elif occupancy %}

      {%- if contestant %}
  <p>Der von dir verwaltete Bungalow {{ occupancy.bungalow.number }} <strong>ist zum Wettbewerb angemeldet</a></strong> (<a href="{{ url_for('.view_contestant', id=contestant.id) }}">anzeigen</a>).</p>
      {%- else %}
  <p>Du verwaltest Bungalow {{ occupancy.bungalow.number }} und kannst diesen <strong>jetzt zum Wettbewerb anmelden</strong>.</p>
  <form action="{{ url_for('.register') }}" method="post">
    {{ form_buttons('Bungalow {:d} anmelden'.format(occupancy.bungalow.number)) }}
  </form>
      {%- endif %}

    {%- else %}

      {%- if inhabited_bungalow and contestant %}
  <p>Der von dir bewohnte Bungalow {{ inhabited_bungalow.number }} <strong>ist bereits zum Wettbewerb angemeldet</a></strong> (<a href="{{ url_for('.view_contestant', id=contestant.id) }}">anzeigen</a>).</p>
      {%- endif %}

  <p>Du musst Verwalter/in eines Bungalows sein um diesen zum Wettbewerb anmelden zu können.</p>
      {%- if inhabited_bungalow %}
  <p>Verwalter/in des von dir bewohnten Bungalow {{ inhabited_bungalow.number }} ist {{ render_user_link(inhabited_bungalow_manager) }}.</p>
      {%- endif %}

    {%- endif %}

  {%- elif contest.phase == Phase.rating %}

  <p>Du kannst jetzt angemeldete <strong>Bungalows bewerten</strong>.</p>

  {%- elif contest.phase == Phase.ended %}

  <p>Der Wettbewerb ist beendet.</p>

  {%- endif %}

{%- endblock %}
