{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set page_title = 'Bungalow-Kandidatur bearbeiten' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bungalow/contest.css') }}">
{% endblock %}

{% block body %}
  {%- set contestant_view_url = url_for('.view_contestant', id=contestant.id) %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Bungalow-Contest</a></li>
      <li><a href="{{ url_for('.contestants') }}">Kandidaten</a></li>
      <li><a href="{{ contestant_view_url }}">Bungalow {{ contestant.bungalow_occupancy.bungalow.number }}</a></li>
    </ol>
  </nav>
  <h1>{{ page_title }}</h1>

  <div class="main-body-box">
    <form action="{{ url_for('.update_contestant', id=contestant.id) }}" method="post">
    {% with %}
      {% set caption %}
      <a href="https://de.wikipedia.org/wiki/BBCode" target="_blank">BBCode</a> wird unterstützt.
      {% endset %}
      {{ form_field(form.description, autofocus='autofocus', caption=caption) }}
    {% endwith %}

      {{ form_buttons('Speichern', cancel_url=contestant_view_url) }}
    </form>
  </div>

{%- endblock %}
