{% extends 'layout/base.html' %}
{% from 'macros/bungalow_contest.html' import render_contestant_images %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set page_title = 'Bungalow-Kandidatur-Bilder verwalten' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bungalow/contest.css') }}">
{% endblock %}

{% block body %}
  {%- set contestant_view_url = url_for('.view_contestant', id=contestant.id) %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Bungalow-Contest</a></li>
      <li><a href="{{ url_for('.contestants') }}">Kandidaten</a></li>
      <li><a href="{{ contestant_view_url }}">Bungalow {{ contestant.bungalow_occupancy.bungalow.number }}</a></li>
    </ol>
  </nav>
  <h1 class="title">{{ page_title }}</h1>

  <h2 class="title">Bilder</h2>
  {%- if contestant.images %}
  <div class="main-body-box">
{{ render_contestant_images(contestant) }}
  </div>
  {%- else %}
  <div class="block dimmed">Du hast noch keine Bilder hochgeladen.</div>
  {%- endif %}

  <h2 class="title">Bild hochladen</h2>
  {%- if not contestant.image_limit_reached %}
  <div class="block">Es können bis zu {{ MAXIMUM_UPLOADED_IMAGES_PER_CONTESTANT }} Bilder hochgeladen werden.</div>
  <form action="{{ url_for('.create_contestant_image', id=contestant.id) }}" method="post" enctype="multipart/form-data">
    <div class="main-body-box">
      {{ form_field(form.image, maxlength=500000, accept='image/*') }}
      {{ form_field(form.caption, maxlength=200, caption='optional') }}
    </div>

    {{ form_buttons('%s Bild hochladen'|format(render_icon('upload'))|safe, cancel_url=contestant_view_url) }}
  </form>
  {%- else %}
  <div class="block">Es wurden bereits {{ MAXIMUM_UPLOADED_IMAGES_PER_CONTESTANT }} Bilder für diesen Bungalow hochgeladen. Das muss genügen :)</div>
  {%- endif %}

{%- endblock %}
